$base-background: #3b5998;
$base-color: #fff;

.FacebookLogin {
  background: $base-background;
  color: $base-color;
  border: none;
  font-weight: bold;
  
  &:hover, &:focus {
    background: $base-background;
    color: $base-color;
    border: none;
    background: lighten( $base-background, 10% );
  }
}
