.Navbar {
  background: #fff;
  border: none;
  border-radius: 0;

  .profileDropdown .dropdown-toggle {
    padding: 7px 15px;
  }
  .navbar-brand {
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
  }
}
